<table class="hours" data-hours>
  <caption class="visually-hidden">Opening hours</caption>
  <tbody>
    <tr data-day="1"><th scope="row">Monday</th><td>11:30 am – 9:30 pm</td></tr>
    <tr data-day="2"><th scope="row">Tuesday</th><td>11:30 am – 9:30 pm</td></tr>
    <tr data-day="3"><th scope="row">Wednesday</th><td>11:30 am – 9:30 pm</td></tr>
    <tr data-day="4"><th scope="row">Thursday</th><td>11:30 am – 9:30 pm</td></tr>
    <tr data-day="5"><th scope="row">Friday</th><td>11:30 am – 10:30 pm</td></tr>
    <tr data-day="6"><th scope="row">Saturday</th><td>11:30 am – 10:30 pm</td></tr>
    <tr data-day="0"><th scope="row">Sunday</th><td>12 pm – 9 pm</td></tr>
  </tbody>
</table>
